CinvesLocatorWebServiceClient/xml-resources/web-service-references/CinvesLocator/wsdl/localhost_8080/CinvesLocatorServerWebService/CinvesLocator.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.locator.cinvestav.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.locator.cinvestav.com/" name="CinvesLocator">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.locator.cinvestav.com/" schemaLocation="http://localhost:8080/CinvesLocatorServerWebService/CinvesLocator?xsd=1"/>
</xsd:schema>
</types>
<message name="saveAgent">
<part name="parameters" element="tns:saveAgent"/>
</message>
<message name="saveAgentResponse">
<part name="parameters" element="tns:saveAgentResponse"/>
</message>
<message name="LocatorException">
<part name="fault" element="tns:LocatorException"/>
</message>
<message name="getAgent">
<part name="parameters" element="tns:getAgent"/>
</message>
<message name="getAgentResponse">
<part name="parameters" element="tns:getAgentResponse"/>
</message>
<message name="getTypeAgent">
<part name="parameters" element="tns:getTypeAgent"/>
</message>
<message name="getTypeAgentResponse">
<part name="parameters" element="tns:getTypeAgentResponse"/>
</message>
<message name="getLastLocation">
<part name="parameters" element="tns:getLastLocation"/>
</message>
<message name="getLastLocationResponse">
<part name="parameters" element="tns:getLastLocationResponse"/>
</message>
<message name="saveLocation">
<part name="parameters" element="tns:saveLocation"/>
</message>
<message name="saveLocationResponse">
<part name="parameters" element="tns:saveLocationResponse"/>
</message>
<portType name="CinvesLocator">
<operation name="saveAgent">
<input wsam:Action="http://webservice.locator.cinvestav.com/CinvesLocator/saveAgentRequest" message="tns:saveAgent"/>
<output wsam:Action="http://webservice.locator.cinvestav.com/CinvesLocator/saveAgentResponse" message="tns:saveAgentResponse"/>
<fault message="tns:LocatorException" name="LocatorException" wsam:Action="http://webservice.locator.cinvestav.com/CinvesLocator/saveAgent/Fault/LocatorException"/>
</operation>
<operation name="getAgent">
<input wsam:Action="http://webservice.locator.cinvestav.com/CinvesLocator/getAgentRequest" message="tns:getAgent"/>
<output wsam:Action="http://webservice.locator.cinvestav.com/CinvesLocator/getAgentResponse" message="tns:getAgentResponse"/>
<fault message="tns:LocatorException" name="LocatorException" wsam:Action="http://webservice.locator.cinvestav.com/CinvesLocator/getAgent/Fault/LocatorException"/>
</operation>
<operation name="getTypeAgent">
<input wsam:Action="http://webservice.locator.cinvestav.com/CinvesLocator/getTypeAgentRequest" message="tns:getTypeAgent"/>
<output wsam:Action="http://webservice.locator.cinvestav.com/CinvesLocator/getTypeAgentResponse" message="tns:getTypeAgentResponse"/>
<fault message="tns:LocatorException" name="LocatorException" wsam:Action="http://webservice.locator.cinvestav.com/CinvesLocator/getTypeAgent/Fault/LocatorException"/>
</operation>
<operation name="getLastLocation">
<input wsam:Action="http://webservice.locator.cinvestav.com/CinvesLocator/getLastLocationRequest" message="tns:getLastLocation"/>
<output wsam:Action="http://webservice.locator.cinvestav.com/CinvesLocator/getLastLocationResponse" message="tns:getLastLocationResponse"/>
<fault message="tns:LocatorException" name="LocatorException" wsam:Action="http://webservice.locator.cinvestav.com/CinvesLocator/getLastLocation/Fault/LocatorException"/>
</operation>
<operation name="saveLocation">
<input wsam:Action="http://webservice.locator.cinvestav.com/CinvesLocator/saveLocationRequest" message="tns:saveLocation"/>
<output wsam:Action="http://webservice.locator.cinvestav.com/CinvesLocator/saveLocationResponse" message="tns:saveLocationResponse"/>
<fault message="tns:LocatorException" name="LocatorException" wsam:Action="http://webservice.locator.cinvestav.com/CinvesLocator/saveLocation/Fault/LocatorException"/>
</operation>
</portType>
<binding name="CinvesLocatorPortBinding" type="tns:CinvesLocator">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="saveAgent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="LocatorException">
<soap:fault name="LocatorException" use="literal"/>
</fault>
</operation>
<operation name="getAgent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="LocatorException">
<soap:fault name="LocatorException" use="literal"/>
</fault>
</operation>
<operation name="getTypeAgent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="LocatorException">
<soap:fault name="LocatorException" use="literal"/>
</fault>
</operation>
<operation name="getLastLocation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="LocatorException">
<soap:fault name="LocatorException" use="literal"/>
</fault>
</operation>
<operation name="saveLocation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="LocatorException">
<soap:fault name="LocatorException" use="literal"/>
</fault>
</operation>
</binding>
<service name="CinvesLocator">
<port name="CinvesLocatorPort" binding="tns:CinvesLocatorPortBinding">
<soap:address location="http://localhost:8080/CinvesLocatorServerWebService/CinvesLocator"/>
</port>
</service>
</definitions>